.env
.conda/

out/
docs/forecast_project/data/

nilm_datasets/*
data/

*.npy
*.pt
*.csv

__pycache__/
*.ipynb_checkpoints/

/.vscode/*

/jepco/splits/*

/data_nilm/nilm_results/*

/docs/forecast_project/backend/splits/*

/docs/forecast_project/backend/__pycache__/*